---
layout: page
title: "书签"
description: "「他单纯只想把日子过得不浪费」"
header-img: "img/bg-me-2022.jpg"
header-mask: 0.3
multilingual: true
---

<!-- Chinese Version -->
<div class="tag post-container">
    {% capture about_tag %}{% include about/tag.md %}{% endcapture %}
    {{ about_tag | markdownify }}
</div>


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}