<!DOCTYPE html>
<html lang="en">


 {{ content }}


<footer>

<style>

/* 只对footer内的元素生效 */

footer .container {

text-align: center;

}

footer .row {

display: flex;

justify-content: center;

}

footer .col-lg-8 {

float: none;

margin: 0 auto;

}

footer a[href="/"] {

color: #87CEEB;

}

</style>

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- SNS Link -->
                {% include sns-links.html center=true %}

                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}

                    <br>
                    Powered by jueson

                    <br>
                    <a href="{{ site.baseurl }}/">返回首页</a>

                </p>
            </div>
        </div>
</div>
</footer>
</html>
