<!DOCTYPE html>
<html lang="en">


 {{ content }}

    <!-- Footer --><footer>

<style>

/* 只对footer内的元素生效 */

footer .container {

text-align: center;

}

footer .row {

display: flex;

justify-content: center;

}

footer .col-lg-8 {

float: none;

margin: 0 auto;

}

footer a[href="/"] {

color: #87CEFA; /* 浅蓝色 */

}

</style>

<div class="container">



                <p class="copyright text-muted">
                    Copyright &copy; Jueson 2025
                    
                    <br>
                    Powered by Hux Blog

                    <br>
                    <a href="/">返回首页</a>
                </p>

</div>

</footer>

