<!DOCTYPE html>
<html lang="en">


{% include head.html %}
    {{ content }}
               
<footer>

<style>

/* 无头有尾模板无首页连接 */

footer .container {

text-align: center;

}

footer .row {

display: flex;

justify-content: center;

}

footer .col-lg-8 {

float: none;

margin: 0 auto;

}

footer a[href="/"] {

color: #87CEFA; /* 浅蓝色 */

}

</style>

<div class="container">
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}

                    <br>
                    Powered by Hux Blog
                </p>
</div>

</footer>
</body>

</html>